.shoes a {
  color: inherit;
  text-decoration: none;
}

.shoes {
  text-align: left;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 5px;
  float: left;
  position: relative;
  width: 250px;
  height: 280px;
}

.shoes__image {
  height: 210px;
  width: 220px;
  margin-bottom: 10px;
}

.shoes__title {
  font-weight: bold;
  font-size: 14px;
}

.shoes__category {
  font-size: 12px;
  color: #999;
}

.shoes-stub {
  padding: 0;
  margin: 10px 15px 0;
}

.shoes-stub .rect {
  margin-bottom: 10px;
}
