@import '~styles/media.css';

html, body, #mount {
    padding: 0;
    margin: 0;

    display: flex;
    width: 100%;
}

html {
    overflow-y: scroll;
}

.app {
    width: 100%;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

    display: flex;

    flex-direction: column;
    flex: 1 1;
}

.centering {
    text-align: center;
}

.app .page {
    flex: 1 0 auto;
}

.container {
    max-width: 800px;
    margin: 25px auto 80px;

    @media (--viewport-mobile)
    {
        padding: 0 15px;
    }
}

.container__more {
    margin-top: 40px;
}

.promo {
    background: #f1f1f1;
    padding: 20px;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

.container h2 {
    text-align: left;
    padding-left: 5px;
}
