@import '~styles/media.css';

.sneakers a {
    color: inherit;
    text-decoration: none;
}

.sneakers {
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0;
    margin: 10px;
    position: relative;
    width: 220px;
    height: 280px;
    display: inline-block;

    @media (--viewport-mobile) {
        margin: 5px auto;
    }
}

.sneakers__image {
    height: 210px;
    width: 220px;
    margin-bottom: 10px;
}

.sneakers__title {
    font-weight: bold;
    font-size: 18px;
}

.sneakers__category {
    font-size: 14px;
    padding-top: 5px;
    color: #999;
}

.sneakers-stub {
    padding: 0;
    margin: 10px 15px 0;
    display: inline-block;
}

.sneakers-stub .rect {
    margin-bottom: 10px;

    @media (--viewport-mobile) {
        margin: 10px auto;
    }
}
